body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
}

section-dark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    background: linear-gradient(to top right, #000000, #041134);
    padding: 10%;
    box-sizing: border-box;
}

section-bright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top right, #BEC9E6, #ffffff);
    padding: 10%;
    box-sizing: border-box;
}


.content-left {
    max-width: 50%;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.main-call {
    font-size: 4em;
    font-family: Poppins;
    font-weight: 800;
    line-height: 1em;
    margin-bottom: 10px;
}

.highlight {
    color: #1550F9;
}

.sub-text {
    color: #BEC9E6;
    font-family: Poppins;
    font-weight: 300;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #1550F9;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    animation: vibrate 0.4s 5s; /* Duração de 5 segundos */
    animation-delay: 3s; /* Atraso de 3 segundos */
    animation-fill-mode: forwards; /* Mantém o estado final da animação */
}

@keyframes vibrate {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
  }

.cta-button:hover {
    background-color: #537FFF;
}

.content-right {
    max-width: 50%;
}

.header-image {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    section-dark {
        flex-direction: column;
        text-align: center;
    }

    .content-left, .content-right {
        max-width: 100%;
    }

    .header-image {
        margin-top: 20px;
    }
}

.box-gridH{
    width: 100%;
    height: 100%; 
    flex-direction: column;
    align-items: center;
    gap: 12px;
    display: flex;

}

.box-gridV{
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 12px;
    display: flex;   
}

@media (max-width: 768px) {
    .box-gridaV{
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 12px;
        display: flex;   
    }
    
}

.box-group{
    width: 533px;
    height: 256px;
    position: relative;
    /* style="width: 533px; height: 256px; position: relative"*/
    /*style="width: 533px; height: 256px; position: relative"*/
}

.box-rectangle{
    width: 533px;
    height: 256px;
    left: 0px;
    top: 0px;
    position: absolute;
    border-radius: 5px;
    border: 1px #BEC9E6 solid;
    transition: border 0.3s ease;
    animation: vibrate 0.4s 5s; /* Duração de 5 segundos */
    animation-delay: 3s; /* Atraso de 3 segundos */
    animation-fill-mode: forwards; /* Mantém o estado final da animação */
}
.box-rectangle:hover {
    border: 1px #1550F9 solid; /* Altere a cor e a espessura da borda ao passar o mouse */
  }

  @keyframes vibrate {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
  }

@media only screen and (max-width: 1023px) {

    .box-gridV{
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 12px;
        display: flex;   
    }
}

